.post-container{
    background: var(--lavender, #F4F0F8);
    display: flex;
    justify-content: space-between;
    padding: 5%;
    .text{
        .h2{
            padding-right: 35%;
            padding-top: 1.25rem;
            padding-bottom: 1rem;
            cursor: pointer;
        }
        .label{
            padding-top: 1rem;
        }
        .body-1{
            padding-right: 35%;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
    }
    img{
        width: 100%;
        object-fit: cover;
    }
}
.all-posts{
    margin-left: 5%;
    margin-right: 5%;
    .title{
        padding-top: 4rem;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        border-bottom: 0.0625rem #9b989860 solid;
    }
    .post{
        display: flex;
        height: 100%;
        height: 19.875rem;
        margin-bottom: 4rem;
        .img{
            width: 30.625rem;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text{
            padding: 3%;
            .h2{
                padding-top: 1.25rem;
                padding-bottom: 3rem;
                padding-right: 30%;
                cursor: pointer;
            }
            .body-1{
                padding-right: 20%;
            }
        }
    }
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    .h4{
        color: var(--medium-grey, #6D6E76);
        margin-right: 1.5rem;
        cursor: pointer;
        transition: .3s all;
    }
    .h4:hover{
        transform: scale(1.3);
    }
    .h3{
        cursor: pointer;
        color: var(--black, #232536);
        transition: .3s all;
    }
    .h3:hover{
        transform: scale(0.9);
    }
}